#!/bin/bash

# *******************************************************************************
# Copyright (c) 2026 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

set -euo pipefail

BUILDER_ARCHIVE_PATH="$(realpath "{{AIB_BUILDER_IMAGE}}")"
BOOTC_ARCHIVE_PATH="$(realpath "{{AIB_BOOTC_IMAGE}}")"
DISK_PATH="$(realpath -m "{{AIB_OUTPUT}}")"
DISK_DIR="$(dirname ${DISK_PATH})"

BUILDER_TAG=localhost/autosd-builder:bazel-$$
BUILDER_IMAGE_ID=$({{OCI_RUNTIME}} load -q -i ${BUILDER_ARCHIVE_PATH} | awk '{print $3}')
{{OCI_RUNTIME}} tag ${BUILDER_IMAGE_ID} ${BUILDER_TAG}

cleanup() {
    {{OCI_RUNTIME}} rmi -f ${BUILDER_TAG}
}
trap cleanup EXIT INT TERM HUP

{{AIB_SCRIPT}} --volume $(realpath ${BOOTC_ARCHIVE_PATH}) to-disk-image \
--build-container ${BUILDER_TAG} \
--oci-archive \
${BOOTC_ARCHIVE_PATH} ${DISK_PATH}

chmod 700 ${DISK_PATH}
